services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php85-app
    volumes:
      - ../../Challenges:/var/www/html
    networks:
      - app-network

  web:
    image: nginx:alpine
    container_name: php85-web
    ports:
      - "8080:80"
    volumes:
      - ../../Challenges:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./error.html:/usr/share/nginx/html/error.html
    depends_on:
      - app
    networks:
      - app-network
  # I chose not to use Portainer to keep the study environment as simple as possible.
  terminal:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: php85-terminal
      ports:
        - "7681:7681"
      volumes:
        - ../../Challenges:/var/www/html
      # Agora o comando é direto e rápido
      command: ttyd -W bash
      working_dir: /var/www/html
      networks:
        - app-network

networks:
  app-network:
    driver: bridge