name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  php:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 'latest'
          tools: composer

      - name: Install dependencies
        working-directory: ./Challenges
        run: composer install --no-interaction --prefer-dist

      - name: Validate PSR-4
        working-directory: ./Challenges
        run: composer dump-autoload -o --strict-psr

      - name: Code style (PSR-12)
        working-directory: ./Challenges
        run: vendor/bin/phpcs StrategyPattern